body {
	margin: auto;
}

.chat-header {
	transform: scale(0.99,0.99);
	text-align: center;
	padding: 1rem 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    color: #fff;
    border-radius: 100vh;
    background-image: linear-gradient(to left, #a2c4cd 0%, #90cbcb 100%);
}

.talk-list {
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
	height: 75%;
}

.chat-wrap {
display: flex;
flex-wrap: wrap;
}


.LOGIN_USER {
  flex-direction: row-reverse;
    position: relative;
    top: 1%;
    right: 2%;
}

.NOT_LOGIN_USER {
position: relative;
top: 1%;
left: 2%;
  flex-direction: row;
}

.chatting {
position: relative;
display: inline-block;
margin: 3px 20px;
padding: 10px 13px;
background: #ccffcc;
text-align: left;
border-radius: 12px;
max-width: 67%;
}

/* 吹き出しの三角部分の作成 */
.chatting::after {
content: "";
border: 15px solid transparent;
border-top-color: #ccffcc;
position: absolute;
top: 10px;
}

.NOT_LOGIN_USER .chatting {
background: #dddddd;
}

.NOT_LOGIN_USER .chatting::after {
border-top-color: #dddddd;
}

.LOGIN_USER .chatting {
background: #ccffcc;
}

.LOGIN_USER .chatting::after {
border-top-color: #ccffcc;
}

.NOT_LOGIN_USER .chatting::after {
left: -15px;
}

.LOGIN_USER .chatting::after {
right: -15px;
}

.profile-icon {
  color: #000;
  position: relative;
  margin-left: 3px;
  margin-top: 11px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  border-radius: 6px 6px 0 0;
  transform: scale(2, 2);
  top: 15%;
}
.profile-icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

.send-date {
    display: flex;
    align-items: end;
    font-size: 70%;
}

.send-form {
	position: fixed;
    width: -webkit-fill-available;
    left: 30%;
    bottom: 0%;
    background-color: black;
}

#msg-text {
	resize: none;
	width: 40%;
	vertical-align: bottom;
	overflow-y: hidden;
}