body {
	margin: auto;
}

table {
	width: 100%;
	border: none;
}

th {
	width: 15%;
}

td {
	background-color: #f1ecec;
}
.text-form {
	transform: scale(1,1.5);
    border: none;
}
.text-form:focus {
  outline:none;
}

.textarea-form {
	width: -webkit-fill-available;
    height: 95px;
}

.add-btn {
position: absolute;
    right: 40%;
    left: 40%;
    margin: auto;
    border: none;
    height: 6%;
    font-size: 21px;
    color: white;
    background-color: #97cdf3;
}

.add-btn:hover {
	background-color: #7dc6f9;
}